#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.acierto span{
  color: green;
}

.fallo span{
  color: red;
}

.preguntas{
  margin: 2.5% 0 2.5% 0
}

.preguntas div{
  text-align: left;
}

legend{
  border: 1px solid grey;
}

#numerotema{
  text-align: center;
  max-width: 2em;
}

#titulotema{
  border: 1px solid grey;
  text-align: center;
}

#titulotema span{
  text-align: center;
}