#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.acierto span{
  color: green;
}

.fallo span{
  color: red;
}

legend{
  border: 1px solid black;
}

#numerotema{
  max-width: 2em;
}

#titulotema{
  border: 1px solid grey;
  text-align: center;
}

#titulotema span{
  text-align: center;
}